version: 2.1

jobs:
  build_web:
    docker:
      - image: ghcr.io/cirruslabs/flutter:3.38.2

    steps:
      # Checkout current repo
      - checkout

      # Optional: Enable SSH debugging
      - run:
          name: Enable SSH Debug Mode
          command: echo "SSH debug enabled"

      # Install dependencies
      - run:
          name: Flutter pub get
          command: flutter pub get

      # Build Flutter Web
      - run:
          name: Build Flutter Web
          command: flutter build web --release

      # Remove large files in build/web
      - run:
          name: Clean build files
          command: |
            cd build/web
            find . -name "*.dill*" -delete
            find . -type f -size +25M -delete
            ls -lhR

      # Deploy to Repo 2
      - run:
          name: Deploy to Repo 2
          command: |
              cd build/web
              git config --global user.name "yunsocheato"
              git config --global user.email "cheatoyunso@gmail.com"
              git config --global credential.helper store
              echo "https://$REPO2_USERNAME:$REPO2_PAT@github.com" > ~/.git-credentials
              git init
              git remote add origin https://github.com/yunsocheato/deamhr.git
              git switch -C master
              git add .
              git commit -m 'Deploy Flutter web build'
              git push -f origin master

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build_web
