version: 2.1

jobs:
  build_web:
    docker:
      - image: ghcr.io/cirruslabs/flutter:3.38.2

    steps:
      - checkout

      # Install dependencies
      - run:
          name: Flutter pub get
          command: flutter pub get

      # Build Flutter web
      - run:
          name: Build Flutter Web
          command: flutter build web --release

      # Clean large files >25MB
      - run:
          name: Remove large files
          command: find build/web -type f -size +25M -exec rm -f {} \;

      # Deploy to Repo 2
      - run:
          name: Deploy to Repo 2
          command: |
            cd build/web

            # Remove unnecessary large files (DILL, etc)
            find . -name "*.dill*" -delete
            find . -type f -size +25M -delete

            ls -lhR  # Debug sizes

            git init
            git remote add origin https://$REPO2_USERNAME:$REPO2_PAT@github.com/yunsocheato/deamhr.git
            git switch -C main
            git add .
            git commit -m "Deploy Flutter web build"
            git push -f origin main

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build_web
