version: 2.1

jobs:
  build_web:
    docker:
      - image: ghcr.io/cirruslabs/flutter:3.38.2

      steps:
      - checkout

      # Allow SSH debugging ("Rerun job with SSH")
      - run:
          name: Enable SSH Debug Mode
          command: echo "SSH debug enabled"

      # Install dependencies
      - run:
          name: Flutter pub get
          command: flutter pub get

      # Build Flutter web
      - run:
          name: Build Flutter Web
          command: flutter build web --release

      # Clean large files >25MB
      - run:
          name: Remove large files
          command: find build/web -type f -size +25M -exec rm -f {} \;

      # Deploy to Repo 2
        - run:
          name: Deploy to Repo 2
          command: |
            cd build/web

            find . -name "*.dill*" -delete
            find . -type f -size +25M -delete

            git config --global user.name "circleci-bot"
            git config --global user.email "circleci-bot@example.com"
            git config --global credential.helper store

            echo "https://$REPO2_USERNAME:$REPO2_PAT@github.com" > ~/.git-credentials

            git init
            git remote add origin https://github.com/yunsocheato/deamhr.git
            git switch -C main
            git add .
            git commit -m 'Deploy Flutter web build'
            git push -f origin main


workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build_web
